html, body {
    height:99%;
}
body {
    background-color: #001236;
    overflow:hidden;
}
canvas {
    position: absolute;
    z-index:1;
    pointer-events: none;
}

.box {
    position: relative;
    margin: auto;
    display:block;
    width: 100%;
    height: 100%;
    background:none;
}

.ground {
    position: absolute;
    width:140%;
    height:90%;
    top:65%;
    left:-28%;

    background-color: #dbe8ff;
    border-radius: 100%/100%;
}
.hill1{
    position: absolute;
    width:100%;
    height:140%;
    top:40%;
    left:30%;

    background-color: #162b53;
    border-radius: 100%/100%; 
    z-index: -1;
}
.hill2{
    position: absolute;
    width:90%;
    height:170%;
    top:20%;
    left:-28%;

    background-color: #19305a;
    border-radius: 100%/100%; 
    z-index: -1;
}

.moon {
    position: absolute;
    width: 120px;
    height: 120px;
    left:87%;
    border-radius: 50%;
    box-shadow: 20px 20px 0 0 #ebebbc;
  }

.tree {
	 position: absolute;
	 top: 0%;
	 left: 0%;
	 margin-top: -100px;
	 margin-left: -100px;
	 width: 200px;
	 height: 200px;
     --small-light: 1.5%;
     --big-light: 2.5%;
     --small-flare: 1.7%;
     --big-flare: 2.7%;
     --red-light: #7a1907;
     --yellow-light: #5e5e00;
     --green-light: #003b08;
     --blue-light: #003847;
	 background-image:
        /* lights */
        radial-gradient(var(--red-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--yellow-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--green-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--blue-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--red-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--yellow-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--green-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--blue-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--red-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--yellow-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--green-light) var(--small-light), transparent var(--small-flare)),
        radial-gradient(var(--blue-light) var(--big-light), transparent var(--big-flare)),
        radial-gradient(var(--green-light) var(--big-light), transparent var(--big-flare)),
        /* leaves - top right */
        linear-gradient(60deg, #018c28 8%, transparent 8.2%),
        /* leaves - top left */
        linear-gradient(-60deg, #04b335 8%, transparent 8.2%),
        /* leaves - middle right */
        linear-gradient(60deg, #008224 10%, transparent 10.2%),
        /* leaves - middle left */
        linear-gradient(-60deg, #02ab31 10%, transparent 10.2%),
        /* leaves - bottom right */
        linear-gradient(60deg, #007520 12%, transparent 12.2%),
        /* leaves - bottom left */
        linear-gradient(-60deg, #02a62f 12%, transparent 12.2%),
        /* trunk - right */
        linear-gradient(85deg, #875d00 5%, transparent 5.2%),
        /* trunk - left */
        linear-gradient(-85deg, #ab7500 5%, transparent 5.2%);
	 background-position:
        -10px 0px,
        5px -5px,
        -17px 25px,
        5px 11px,
        12px 20px,
        -2px 23px,
        7px 35px,
        -5px 38px,
        -15px 48px,
        -2px 52px,
        20px 57px,
        12px 60px,
        -20px 63px, 
        /* leaves - top right */
        100px 110px,
        /* leaves - top left */
        100px 110px,
        /* leaves - middle right */
        100px 141.11px,
        /* leaves - middle left */
        100px 141.11px,
        /* leaves - bottom right */
        100px 172.86px,
        /* leaves - bottom left */
        100px 172.86px,
        /* trunk - right */
        100px 200px,
        /* trunk - left */
        100px 200px;
}

.tree:hover {
    --small-light: 1%;
    --big-light: 1.5%;
    --small-flare: 2.7%;
    --big-flare: 3.7%;
    --red-light: #e03212;
    --yellow-light: #ebeb02;
    --green-light: #00e81f;
    --blue-light: #00addb;
}


.textWrap {
    position: absolute;
    font-family: 'Rancho', block;
    font-size: 120px;
    color: white;
    transform: skew(-10deg) rotate(7deg);
}
.textWrap>span {
    display: inline-block;
    animation: popup;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes popup {
    0% {transform: translate3d(30px, 30px, 0);
        animation-timing-function: ease-in-out;
        opacity: 0;}
    80% {transform: translate3d(-7px, -7px, 0);
        animation-timing-function: ease-in-out;}
    100% {transform: translate3d(0, 0, 0);
        opacity: 1;}
}
.btn {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 150px;
    height: 50px;
    font-size: 20px;
}