html, body {
    height:99%;
}
body {
    background-color: #001236;
    overflow:hidden;
}
canvas {
    position: absolute;
    z-index:1;
    pointer-events: none;
}

.box {
    position: relative;
    margin: auto;
    display:block;
    width: 100%;
    height: 100%;
    background:none;
}

.ground {
    position: absolute;
    width:140%;
    height:90%;
    top:65%;
    left:-28%;

    background-color: #dbe8ff;
    border-radius: 100%/100%;
}
.hill1{
    position: absolute;
    width:100%;
    height:140%;
    top:40%;
    left:30%;

    background-color: #162b53;
    border-radius: 100%/100%;
    z-index: -1;
}
.hill2{
    position: absolute;
    width:90%;
    height:170%;
    top:20%;
    left:-28%;

    background-color: #19305a;
    border-radius: 100%/100%;
    z-index: -1;
}

.moon {
    position: absolute;
    width: 120px;
    height: 120px;
    left:87%;
    border-radius: 50%;
    box-shadow: 20px 20px 0 0 #ebebbc;
  }

#cloud1 {
    position: absolute;
    width: 119px;
    height: 76px;
    top: 1%;
    left: 3%;
    transform-origin: 0 0;
    transform: scale(1.5);
    background-image: url(cloud1.svg);
    filter: opacity(45%);
    z-index: 2;
}

#cloud2 {
    position: absolute;
    width: 119px;
    height: 76px;
    top: 5%;
    left: 90%;
    transform-origin: 0 0;
    transform: scale(1.2);
    background-image: url(cloud1.svg);
    filter: opacity(70%);
    z-index: 42;
}

#cloud3 {
    position: absolute;
    width: 149px;
    height: 67px;
    top: 8%;
    left: 23%;
    transform-origin: 0 0;
    transform: scale(1.8);
    background-image: url(cloud2.svg);
    filter: opacity(55%);
    z-index: 2;
}

#cloud4 {
    position: absolute;
    width: 130px;
    height: 57px;
    top: 3%;
    left: 46%;
    transform-origin: 0 0;
    transform: scale(1.2);
    background-image: url(cloud3.svg);
    filter: opacity(60%);
    z-index: 2;
}

#cloud5 {
    position: absolute;
    width: 130px;
    height: 57px;
    top: 12%;
    left: 68%;
    transform-origin: 0 0;
    transform: scale(1.6);
    background-image: url(cloud3.svg);
    filter: opacity(65%);
    z-index: 2;
}

.tree {
	 position: absolute;
	 width: 200px;
	 height: 200px;
     animation: sway;
     animation-play-state: running;
     animation-iteration-count: infinite;
     animation-duration: 5s;
     animation-timing-function: ease-in-out;
     --scale: 1;
     transform-origin: bottom center;
     transform: scale(var(--scale));
	 background-image:
        /* leaves - top right */
        linear-gradient(60deg, #018c28 8%, transparent 8.2%),
        /* leaves - top left */
        linear-gradient(-60deg, #04b335 8%, transparent 8.2%),
        /* leaves - middle right */
        linear-gradient(60deg, #008224 10%, transparent 10.2%),
        /* leaves - middle left */
        linear-gradient(-60deg, #02ab31 10%, transparent 10.2%),
        /* leaves - bottom right */
        linear-gradient(60deg, #007520 12%, transparent 12.2%),
        /* leaves - bottom left */
        linear-gradient(-60deg, #02a62f 12%, transparent 12.2%),
        /* trunk - right */
        linear-gradient(85deg, #875d00 5%, transparent 5.2%),
        /* trunk - left */
        linear-gradient(-85deg, #ab7500 5%, transparent 5.2%);
	 background-position:
        /* leaves - top right */
        100px 110px,
        /* leaves - top left */
        100px 110px,
        /* leaves - middle right */
        100px 141.11px,
        /* leaves - middle left */
        100px 141.11px,
        /* leaves - bottom right */
        100px 172.86px,
        /* leaves - bottom left */
        100px 172.86px,
        /* trunk - right */
        100px 200px,
        /* trunk - left */
        100px 200px;
}

.tree-light {
    position: absolute;
}

.tree-btn {
    position: absolute;
    width: 45%;
    height: 80%;
    margin-top: -80%;
    margin-left: -6%;
    background-color: transparent;
    outline: none;
    border: none;
    z-index: 5;
    --color: #fbff0480;
}

.tree-btn:hover {
    background: radial-gradient(ellipse at center, var(--color) 0, transparent 70%);
}

@keyframes sway {
    0%, 100% {transform: scale(var(--scale)) skewX(1.5deg);}
    50% {transform: scale(var(--scale)) skewX(-1.5deg);}
}

.text-wrap {
    position: absolute;
    font-family: 'Rancho', block;
    font-size: 120px;
    color: white;
    transform: skew(-10deg) rotate(7deg);
    z-index: 3;
}
.text-wrap>span {
    display: inline-block;
    animation: popup, shift-text;
    animation-play-state: paused, paused;
    animation-iteration-count: infinite, infinite;
    animation-duration: .4s, 10s;
    animation-fill-mode: forwards;
    animation-timing-function: inherit, ease-in-out;
    opacity: 0;
}
@keyframes popup {
    0% {transform: translate3d(30px, 30px, 0);
        animation-timing-function: ease-in-out;
        opacity: 0;}
    80% {transform: translate3d(-7px, -7px, 0);
        animation-timing-function: ease-in-out;}
    100% {transform: translate3d(0, 0, 0);
        opacity: 1;}
}
@keyframes shift-text {
    3%, 100% {transform: translate3d(0px, 0px, 0);}
    1.5% {transform: translate3d(-4px, -20px, 0);}
}

/* Fire */
.fire-wrap {
    position: absolute;
    top: 63%;
    left: 44%;
    width: 220px;
    height: 220px;
}
.logs {
    position: absolute;
    top: 70%;
    left: 12%;
    border-radius: 10%;
    background: #875d00;
    width: 170px;
    height: 20px;
    pointer-events: none;
}
.flame {
    position: absolute;
    top: 35%;
    left: 24%;
    width: 100px;
    height: 100px;
    background-color: #e74900;
    border-radius: 0 40% 60% 40%;
    transform: scaleX(0.8) rotate(45deg);
    filter: drop-shadow(0 -5px 25px #ff8412);
}
.flame-right {
    position: absolute;
    top: 42%;
    left: 43%;
    width: 80px;
    height: 80px;
    background-color: #fdaf07;
    border-radius: 0 40% 60% 40%;
    transform: scaleX(0.7) rotate(45deg);
    filter: drop-shadow(0 -20px 25px #ff8412);
}
.flame-anim{
    display: absolute;
    width: 100%;
    height: 100%;
    animation: flame 3.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-origin: bottom;
}
.flame-right-anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: flame-right 2.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
@keyframes flame{
    0%, 100%{transform: scaleY(1) scaleX(1) rotate(0deg);
                animation-timing-function: ease-in-out;}
    50%{transform: scaleY(1.15) rotate(2deg);}
    75% {transform: scaleY(0.95);}
    80% {transform: scaleX(0.95);}
    90% {transform: scaleY(1.05);}
    /* 50% {transform: rotate(3deg);} */
}
@keyframes flame-right {
    0%, 100% {transform: skew(0) scale(1) rotate(0deg);
                animation-timing-function: ease-in-out;}
    50% {transform: skewX(-5deg) scale(0.9) rotate(3deg);
                animation-timing-function: ease-in-out;}
}
#flame-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: light .5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
    transform-origin: 80% 80%;
}
@keyframes light {
    0% {transform: scaleX(0) scaleY(0) skewX(-80deg); opacity: 0; animation-timing-function: ease-in-out;}
    30% {transform: scaleX(0.1) scaleY(0.1) skew(-60deg); opacity: 0.1;}
    99% {transform: scaleX(1) scaleY(1) skewX(2deg); animation-timing-function: ease-in-out;}
    100% {transform: scaleX(1) scaleY(1) skewX(0deg); opacity: 1;}
}
#fire-btn {
    position: absolute;
    width: 95%;
    height: 30%;
    top: 60%;
    left: 2.5%;
    background-color: transparent;
    outline: none;
    border: none;
}
button#fire-btn:hover {
    background: radial-gradient(ellipse at center, #fbff04 0, transparent 90%);
}
